*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.banner{
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.navbar {
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0 20px;
}

.navbar ul li {
  margin: 0 20px;
  position: relative;
}

.navbar ul li a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.navbar ul li::after {
  content: "";
  height: 3px;
  background: #48ff70;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  transition: width 0.5s;
}

.navbar ul li:hover::after{
  width: 100%;
}

.logo{
  width: 170px;
  cursor: default;
  color: #48ff70;
}

.content{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: antiquewhite;
}

.content h1{
  font-size: 70px;
  margin-top: 80px;
}

.content p{
margin: 20px auto;
font-weight: 100;
line-height: 25px;
font-size: 20px;
}

@media (max-width: 480px) {
  .navbar {
    padding: 20px 0;
  }

  .navbar ul li {
    margin: 0 5px;
  }

  .logo {
    width: 100px;
    font-size: 16px;
  }

  .content h1 {
    font-size: 30px;
    margin-top: 20px;
  }

  .content p {
    font-size: 14px;
  }
}

/* Estilos adicionales para responsive */
@media screen and (max-width: 768px) {
  .container {
    display: block;
  }

  .event {
    display: block;
    margin-top: 20px;
  }
}

/* responsive */
@media screen and (max-width: 500px) {
    .container{
        width: 94%;
    }
    .schedule__day{
        padding: 7px 5px;
        text-align: center;
    }
}



/* Estilos adicionales para responsive */
@media screen and (max-width: 768px) {
  .container {
    display: block;
  }

  .event {
    display: block;
    margin-top: 20px;
    margin-left: 0;
  }
}

/* responsive */
@media screen and (max-width: 500px) {
  .container {
    width: 94%;
  }

  .schedule__day {
    padding: 7px 5px;
    text-align: center;
    flex-direction: column;
    align-items: flex-start;
  }

  .event {
    margin: 10px 0 0;
  }
}

/*card*/

.card {
  width: 300px;
  height: 350px;
  border-radius: 20px;
  overflow: hidden;
  border: 8px solid #fff;
  margin-bottom: 0.5cm;
  position: relative;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin-left: 0.5cm;
  text-align: center;
}

.card:hover {
  translate: 0 -10px;
}

.card-title {
  font-size: 18px;
  font-weight: 600;
  color: #2e54a7;
  margin: 15px 0 0 10px;
}

.card-image {
  width: 7.7cm;
  height: 6cm;
  background-color: #c9c9c9;
  border-radius: 15px;
  box-shadow: inset 8px 8px 10px #c3c3c3,
            inset -8px -8px 10px #cfcfcf;
  overflow: hidden;
}

.card-body {
  margin: 13px 0 0 10px;
  color: rgb(31, 31, 31);
  font-size: 15px;
}

.by-name {
  font-weight: 700;
}