/**principal**/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html{
    scroll-behavior: smooth;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(img/altagraciap.jpg);
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.navbar ul li::after {
    content: "";
    height: 3px;
    background: #48ff70;
    position: absolute;
    left: 0;
    bottom: -1px;
    transition: 0.5;
}

.navbar ul li:hover::after {
    width: 100%;
}

.logo {
    width: 170px;
    cursor: default;
    color: #48ff70;
}

.content{
    cursor: default;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: antiquewhite;
}
  
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
  
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-size: 20px;
}

h2{
    padding-left: 0.5cm;
}

h1{
    padding-bottom: 0.5cm;
    padding-left: 1cm;
} 

a{
    text-decoration: none;
    color: black;
}

p{
    padding-left: 0.8cm;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
}

/**indice**/

.container {
    padding-top: 1cm;
    display: flex;
    justify-content: center;
}

.ind{
    cursor: default;
}

.indice{
    text-align: center;
    width: 70%;
    align-items: center;
    border: 1px solid #ccc;
    justify-content: center;
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f2f2f2;
    vertical-align: top;
}

.indice p{
    font-size: 0.6cm;
}

/**lugares**/

.places {
    border-radius: 5px;
    padding: 0.5cm;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  
.places .img-secciones {
    display: flex;
    cursor: pointer;
    padding-bottom: 10px;
    align-items: center;
}
  
.places .img-secciones img {
    object-fit: cover;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;   
    width: 200px;
    height: 150px;
}

.right li {
    padding-left: 0.9cm;
}

.ul-left li{
    padding-left: 0.9cm;
}
  
.places .left, .ul-left {
    float: left;
    width: 50%;
    text-align: left;
    flex: 0 0 50%;
}
  
.places .right, .ul-rigth{
    float: right;
    width: 50%;
    text-align: left;
    flex: 0 0 50%;
}
  
.places .name {
   padding-left: 0.8cm
}
  
.places .description {
    color: #666;
    margin: 10px 0;
}

.places h1{
    padding-bottom: 0.5cm;
}
  
.places .details {
    text-align: left;
    margin-bottom: 10px;
}
  
.places .details p {
    margin: 5px 0;
  }
  
.places .details ul {
    margin: 5px 0;
    padding-left: 20px;
  }
  
.places .rating {
    text-align: center;
    background-color: #f1f1f1;
    padding: 5px 10px;
    border-radius: 3px;
  }
  
.places .rating .score {
    font-weight: bold;
    color: #333;
  }
  
.places .rating .out-of {
    color: #777;
  }
  
#image-modal {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
}
  
  #image-modal .close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
  }
  
  #image-modal img {
    max-width: 90%;
    max-height: 90%;
    margin-top: 50px;
  }



/**emergencias y taxis**/

.eyt h1{
    padding-bottom: 0.5cm; 
    padding-top: 0.5cm;
}

.emer-taxi h2{
    padding-bottom: 0.5cm; 
    padding-top: 0.5cm;
}

.emer-taxi {
    padding-left: 5cm;
    display: inline-block;
    width: 10cm;
    height: 4.5cm;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    vertical-align: top;
    justify-content: center;
    align-items: center;
}

/**responsive**/

  @media (max-width: 768px) {
    .navbar {
        flex-direction: column; /* Cambia la dirección de los elementos en la barra de navegación */
        align-items: flex-start; /* Alinea los elementos al inicio */

    }

    .navbar ul li {
        margin: 10px 0; /* Añade espacio vertical entre los elementos */
    }

    .content {
        top: 40%; /* Ajusta la posición del contenido principal */
    }

    .places .left,
    .ul-left,
    .places .right,
    .ul-rigth {
        width: 100%; /* Los elementos ocupan todo el ancho en dispositivos móviles */
        padding-left: 0; /* Elimina el espacio izquierdo en dispositivos móviles */
        text-align: center; /* Centra el texto en dispositivos móviles */
    }

    
    .places .img-secciones {
        display: block /* Alinear las imágenes a la izquierda en dispositivos pequeños */
    }
}
