* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(img/altagraciap.jpg);
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.navbar ul li::after {
    content: "";
    height: 3px;
    width: 0;
    background: #48ff70;
    position: absolute;
    left: 0;
    bottom: -1px;
    transition: 0.5;
}

.navbar ul li:hover::after {
    width: 100%;
}

.logo {
    width: 170px;
    cursor: default;
    color: #48ff70;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: antiquewhite;
}

section {
    color: white;
    overflow: hidden;
    background-color: black;
}

.card {
    margin-top: 0.2cm;
    margin-bottom: 0.2cm;
    width: 300px;
    height: 350px;
    border-radius: 20px;
    overflow: hidden;
    border: 8px solid #fff;
    position: relative;
    display: inline-block;
    background-color: #fff;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.card-body {
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    background: #1f3d4738;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 2s;
}

.card:hover .card-body {
    right: 0;
}

.card-title {
    text-transform: uppercase;
    font-weight: 2000;
    width: 3000%;
    height: 200px;
}

.card-info {
    font-size: 16px;
    line-height: 25px;
    margin: 40px 0;
    font-weight: 400;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-left: 0.5cm;
}

a{
    text-decoration: none;
    color: black;
}


.h2{
    margin: 50cm;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: antiquewhite;
  }
  
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
  
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-size: 20px;
}